@page

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

<h1>
    JS
</h1>
<p>
    前端
</p>
<script>
    $(document).ready(function () {

        $(parent.document.body).append($('p'));  //子页面调用父页面
        
    });
</script>